.border-element {
  border: 4px solid hsla(225, 21%, 26%, 1);
  border-left: none;
  border-right: none;
  --dot-height: 14px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 4px;
    background-image: linear-gradient(to bottom, #333 50%, transparent 50%);
    background-size: 4px var(--dot-height);
    background-repeat: repeat-y;
    height: 100%;
    transition: background-size 0.3s ease-in-out;
  }

  &::before {
    z-index: 1;
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.dropdown-container {
  display: flex;
  align-items: center;
  background-color: #fffffe;

  .selected-role {
    font-size: 1.5rem;
    height: calc(1lh + 2.5rem);
    margin-inline: auto;
    width: 296px;

    transition: height 0.3s ease-in-out;
    position: relative;
    overflow: hidden;

    &.expanded {
      --dot-height: 13px;
      height: calc(2lh + 3rem);
    }

    ul {
      transition: transform 0.3s ease-in-out;
      padding-left: 0;
      display: flex;
      flex-direction: column;

      li {
        text-align: left;
        padding: 1rem 1.25rem;
        list-style-type: none;

        .role-text {
          font-style: normal;
          font-weight: 700;
          line-height: 1.05;
          letter-spacing: 0.32px;
          font-size: 2rem;
          font-family: 'Funnel Display';
        }
      }
    }

    .down-arrow-icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateX(-50%) translateY(-50%);
      transition: transform 0.2s ease-in-out;
    }
  }
}

.SelectTrigger {
  background-color: transparent;
  border: none;
  padding: 0;

  &[aria-expanded='true'] {
    .down-arrow-icon {
      transform: translateX(-50%) translateY(-50%) rotate(180deg);
      transform-origin: center;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.SelectViewport {
  width: 296px;
}

.SelectContent {
  border: 4px solid hsla(225, 21%, 26%, 1);
  border-left: none;
  border-right: none;
  position: relative;
  animation: SlideDownAndFade 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.SelectItem {
  background-color: white;
  padding: 1rem 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.32px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.12s;

  &:is(:hover, :focus-visible) {
    background-color: var(--pegboard-color);
  }

  &[data-state='checked'] {
    background-color: var(--pegboard-color);
  }
}

@keyframes SlideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-4px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
