#filled-pegboard-container {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  svg {
    max-width: none;
  }

  .pegboard-item {
    position: absolute;
    z-index: 2;
  }

  /* Mobile Layout (default) */
  .photo-component {
    left: -27px;
    top: 685px;
    transform-origin: top center;
  }

  .sticky-component {
    left: 102px;
    top: 54px;
    z-index: 3;
    .clipless-sticky {
        transform-origin: 110.5px 35px;
        transition: transform 0.35s ease-out;
      }
  }

  .shelf-component {
    left: -7px;
    top: 546px;
  }

  .unique-component {
    left: 24px;
    top: 349px;
  }

  /* Tablet Layout */
  @media (min-width: 769px) {
    .photo-component {
      left: 66px;
      top: 494px;
      .clipless-photo {
        transform-origin: 110.5px 35px;
        transition: transform 0.35s ease-out;
      }
    }

    .ruler-component {
      left: 466px;
      top: 443px;
      /* transform-origin: 36.5px 35px; */

      .clipless-ruler {
        transform-origin: 35px 35px;
        transition: transform 0.35s ease-out;
      }
    }

    .sticky-component {
      left: 392px;
      top: 53.2px;
      overflow: visible;
      .clipless-sticky {
        transform-origin: 110.5px 35px;
        transition: transform 0.35s ease-out;
      }
    }

    .shelf-component {
      left: 41px;
      top: 306px;
    }

    .unique-component {
      left: 72px;
      top: 109px;
    }
  }

  /* Desktop Layout */
  @media (min-width: 1440px) {
    .photo-component {
      left: 66px;
      top: 254px;
    }

    .ruler-component {
      left: 468px;
      top: 64px;
    }

    .sticky-component {
      left: 776px;
      top: 53.2px;
      .clipless-sticky {
        transform-origin: 110.5px 35px;
        transition: transform 0.35s ease-out;
      }
    }

    .shelf-component {
      left: 617px;
      top: 546px;
    }

    .unique-component {
      left: 864px;
      top: 349px;
    }
  }

  /* Hide/Show components based on breakpoint */
  .ruler-component {
    display: none;
  }

  @media (min-width: 769px) {
    .ruler-component {
      display: block;
    }
  }

  /* Handle mobile shelf swap */
  @media (max-width: 768px) {
    .shelf-desktop {
      display: none;
    }
  }

  @media (min-width: 769px) {
    .shelf-mobile {
      display: none;
    }
  }
}
