#mobile-pegboard {
  display: block;
  position: relative;
}

#tablet-pegboard {
  display: none;
}

#desktop-pegboard {
  display: none;
}

@media (min-width: 769px) {
  #mobile-pegboard {
    display: none;
  }

  #tablet-pegboard {
    display: block;
  }

  #desktop-pegboard {
    display: none;
  }
}

@media (min-width: 1440px) {
  #mobile-pegboard {
    display: none;
  }

  #tablet-pegboard {
    display: none;
  }

  #desktop-pegboard {
    display: flex;
    justify-content: center;
  }
}
