h1 {
  text-align: center;
  color: #353c51;
}

body {
  background-color: white;
}

.AccordionRoot {
  max-width: 641px;
}
.AccordionItem {
  overflow: hidden;
  margin-top: 1px;
  border: 4px solid black;
  border-left: none;
  border-right: none;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to top, black 50%, transparent 50%);
    background-repeat: repeat-y;
    background-size: 4px 10px;
    width: 4px;
    height: 100%;
  }

  &::after {
    top: 0;
    right: 0;
  }
}

.AccordionHeader {
  display: flex;
}

.AccordionQuestion {
  background-color: transparent;
  text-align: left;
  color: #353c51;
  font-family: inherit;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 641px;
  font-size: 15px;
  border: none;
  padding: 20px;
}

.AccordionContent {
  text-align: left;
  color: #353c51;
  overflow: hidden;
  font-size: 15px;
  width: 100%;
  max-width: 641px;
  padding-inline: 20px;
}

.AccordionContent[data-state='open'] {
  animation: slideDown 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
