.cta-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #353c51;
  color: #fffffe;
  text-transform: uppercase;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  border: 2px solid #353c51;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: 'Funnel Display';
  text-decoration: none;

  &:is(:hover, :focus-visible) {
    color: #353c51;
    background-color: #fffffe;
  }
}
