.roleComp {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
  align-self: start;
  min-width: 0;
  width: 262px;
}

.roleTitle {
  /* border: 1px solid black; */
  text-align: center;
  padding: 0.5rem 0.75rem;
  background-color: #353c51;
  color: #fff;
  font-family: 'Funnel Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  width: 100%;
}

@media (min-width: 769px) {
  .roleComp {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
