.resultCard {
  margin-top: 3rem;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-left: 4px dashed black;
  border-right: 4px dashed black;
  width: 304px;
  height: 460;
  padding: var(--S);
  background-color: #fffffe;

  > p {
    color: #353c51;
    font-family: 'Funnel Display';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.resultCard h1 {
  color: #f95984;
  font-family: 'Funnel Display';
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}

@media (min-width: 768px) {
  .resultCard {
    width: 360px;
    height: 460;
  }
}
