.skillBoxes {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.industrySection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.skillsContainer ul,
.leadContainer ul {
  width: 340px;
  padding: 0rem 1rem;
  margin-top: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skillsContainer h4,
.leadContainer h4 {
  font-size: 1.5rem;
}

.skillsContainer li,
.leadContainer li {
  color: white;
  padding: 0.5rem;
}

.leadContainer {
  margin-top: 4rem;
}

.industryContainer,
.otherRolesContainer {
  margin-top: 4rem;
  padding: 0 1rem;
  text-align: center;
}

.industryContainer h4 {
  font-size: 1.5rem;
}

.otherRolesContainer h4 {
  font-size: 1.2rem;
  color: #646676;
}

.otherRolesContainer li {
  list-style: none;
  background-color: #353c51;
  margin-top: 2rem;
  padding: 1rem 0rem;
  color: white;
  text-wrap: nowrap;
  margin-inline: auto;
}

.otherRolesContainer a {
  font-size: 1.2rem;
  font-weight: 500;
  width: fit-content;
}

.industryContainer p {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .skillBoxes {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .leadContainer {
    margin-top: 0;
  }

  .industryContainer p {
    margin: 1rem 3rem;
    max-width: 800px;
  }
}
