.skillBoxes {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.industrySection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.skillsContainer ul,
.leadContainer ul {
  width: 340px;
  padding: 0rem 1rem;
  margin-top: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

h4 {
  color: #353c51;
  text-align: center;
  font-family: 'Funnel Display';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.skillsContainer li,
.leadContainer li {
  color: white;
  padding: 0.5rem;
  font-family: 'Funnel Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.leadContainer {
  margin-top: 4rem;
}

.industryContainer,
.otherRolesContainer {
  margin-top: 4.5rem;
  padding: 0 1rem;
  text-align: center;
}

.otherRolesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  h4 {
    color: #646676;
    font-family: 'Funnel Display';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.industryContainer p {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .skillBoxes {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .leadContainer {
    margin-top: 0;
  }

  .industryContainer p {
    margin: 1rem 3rem;
    max-width: 600px;
  }
}
