.main-titles {
  /* border: 2px solid salmon; */
  color: black;
  text-align: center;
  padding: 1rem;
  color: #353c51;
}

.role-title {
  font-size: 5rem;
}

.subtitle {
  font-size: 1.1rem;
}

.quiz-titles {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  gap: 1rem;
}

.subtitle2 {
  color: #646676;
}

.quiz-btn {
  background-color: #353c51;
  color: white;
  width: 194px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  list-style: none;
  transition: 0.3s;
}

.quiz-btn:hover {
  cursor: pointer;
  background-color: #646676;
}

.pegboard-container {
  width: 302px;
  height: 2027px;
  position: relative;
  /* helps it be centered of the page */
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
}

.phonePegboard {
  position: absolute;
  /* shortcut for everything to be zero */
  inset: 0;
  z-index: -1;
}

.tabletPegboard,
.desktopPegboard {
  display: none;
}

@media (min-width: 769px) {
  .phonePegboard {
    display: none;
  }

  .tabletPegboard {
    position: absolute;
    display: block;
    z-index: -1;
  }

  .pegboard-container {
    width: 638px;
    height: 1118px;
    position: relative;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, min-content);
    place-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    padding-inline: 1.25rem;
  }

  .quiz-titles {
    flex-direction: row;
  }

  .quiz-btn {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .tabletPegboard {
    display: none;
  }

  .desktopPegboard {
    position: absolute;
    display: block;
    z-index: -1;
  }

  .pegboard-container {
    width: 1172px;
    height: 733px;
    position: relative;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, min-content);
    justify-content: space-between;
    align-content: space-between;
    padding-inline: 4.25rem;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
  }
}
