.main-titles{
   border: 2px solid salmon;
   color: black;
}

.pegboard-container{
   width: 302px;
   height: 1502px;
   border: 2px solid red;
   position: relative;

   /* helps it be centered of the page */
   margin-inline: auto;
}

.boardSVG{
   position: absolute;
   /* shortcut for everything to be zero */
   inset: 0; 
   z-index: -1;
}