.cta-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.faqContainer,
.applyContainer {
  position: relative;
  width: fit-content;
  text-align: center;
}

.faqContainer h1,
.faqContainer .faqBtn,
.applyContainer h1,
.applyContainer .applyBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
}

.faqContainer h1 {
  top: 15%;
  left: 60%;
  font-size: 2.5rem;
  line-height: 2.5rem;
  width: 300px;
  text-align: left;
}

.faqContainer .faqBtn {
  top: 62%;
  left: 70%;
  list-style: none;
  background-color: #353c51;
  padding: 1rem 0rem;
  width: 8rem;
  color: white;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.applyContainer h1 {
  top: 15%;
  left: 60%;
  font-size: 2.5rem;
  line-height: 2.5rem;
  width: 300px;
  text-align: left;
  color: white;
}

.applyContainer .applyBtn {
  top: 66%;
  left: 68%;
  list-style: none;
  background-color: #ffffff;
  padding: 0.7rem 2rem;
  width: 9.6rem;
  color: rgb(0, 0, 0);
  text-wrap: nowrap;
  text-transform: uppercase;
}

.faqCardMedium,
.applyCardMedium {
  display: none;
}

@media (min-width: 769px) {
  .faqContainer {
    width: 444px;
    height: 202px;
  }

  .faqCard {
    display: none;
  }

  .faqCardMedium {
    display: block;
  }

  .applyContainer {
    width: 444px;
    height: 202px;
  }

  .applyCard {
    display: none;
  }

  .applyCardMedium {
    display: block;
  }

  .faqContainer h1 {
    top: 15%;
    left: 45%;
  }

  .faqContainer .faqBtn {
    top: 62%;
    left: 77%;
    width: 9.8rem;
  }

  .applyContainer h1 {
    top: 15%;
    left: 45%;
  }

  .applyContainer .applyBtn {
    top: 66%;
    left: 77%;
  }
}

@media (min-width: 1440px) {
  .cta-container {
    flex-direction: row;
  }
}
